/* ----------colores------------ */
.primary-color {
	background-color: #495a66;
}
.secondary-color {
	background-color: #809eb2;
}

/*------- section navbar----------- */
.brand-logo {
	font-size: 4.5rem !important;
	font-weight: bold !important;
	font-family: Lato;
	margin-left: 30px;
}
.nav-items {
	font-size: 1.5rem !important;
}
.img-logo-nav {
	width: 12%;
}

/* navbar-mobile */
ul h4 {
	margin-left: 26px;
}
.brand-logo-mobile {
	text-align: center;
	align-content: center
}
.img-logo-mobile {
	width: 30%;
}

/* ---------section header----------- */
.presentation {
	font-family: Lato;
	color: white;
	text-align: center;
	margin-top: 10%;
}

.presentation h1 {
	font-size: 4.8rem !important;
	font-weight: bold !important;
}

/* ----- section portfolio-------- */
.title {
	margin-top: -50px;
}
.screen-mobile {
	width: 60%;
}
.screen-desktop {
	width: 100%;
}
.proy {
	text-align: justify;
}

/* ------------section skills---------- */






/* color principal */
/* background-color: #809eb2; */

/* oscurece = background-color: rgba(0, 0, 0, 0.1) */