/* ----------colores------------ */
.bg-primary {
	background-color: #495a66;
}
.bg-secondary {
	/* background-color: #809eb2; */
	background-color: #e2e2e2;
}

section[class^="bg"] {
	padding: 42px 0;
}



/*------- section navbar----------- */
.brand-logo {
	font-size: 4.5rem !important;
	font-weight: bold !important;
	font-family: Lato;
}
.nav-items {
	font-size: 1.5rem !important;
}
.img-logo-nav {
	width: 50px;
}

/* navbar-mobile */
ul h4 {
	margin-left: 26px;
}
.brand-logo-mobile {
	text-align: center;
	align-content: center
}
.img-logo-mobile {
	width: 30%;
}

/* ---------section header----------- */
.background-main {
	background-image: url('https://user-images.githubusercontent.com/15807118/45848094-d6674600-bcf2-11e8-8787-25df72d563ce.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

.presentation {
	font-family: Lato;
	color: white;
	text-align: center;
	width: 100%;
	top: 40%;
	position: absolute;
}

.presentation h1 {
	font-size: 4.8rem !important;
	font-weight: bold !important;
	margin: 0;
}

/* ----- section portfolio-------- */
.screen-mobile {
	width: 60%;
}
.screen-desktop {
	width: 100%;
}
.spaces-left {
	margin: 0 5px;
	font-style: italic;
}

/* ------------section skills---------- */
.unity {
	color: #495a66;
}





/* color principal */
/* background-color: #809eb2; */

/* oscurece = background-color: rgba(0, 0, 0, 0.1) */